{% extends 'website/base.html' %}
{% load static %}

<!--TITLE------------------------------------------------------------------>
{% block title %}
ABOUT
{% endblock %}


<!--MAIN CONTENT----------------------------------------------------------->
{% block content %}

<!--BACKGROUND BANNER-->
<div class="rts-bread-crumb-area bg_image">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inne">
                        <div class="title-area">
                            <h1 class="bread-title">About OpenUP</h1>
                            <div class="inner-wrapper">
                                <a href="{% url 'home' %}">Home</a>/
                                <a href="#" class="active">About</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--ABOUT-->
<div class="rts-testimonials-area rts-section-gapBottom pt-5" style="background-color:#0e1424">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-conter-area">
                        <span class="pre-title-bg">Features</span>
                        <h2 class="title">
                           Transforming Eye Care with <br>
                            <span class="gradient-about-title">AI Analysis</span>
                        </h2>
                      <div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="text-center mb-5">
                <p >
                    At Glucoma Detect, we are dedicated to reshaping the way you approach eye care and vision health. Our AI-powered analysis tool combines cutting-edge technology with a passion for eye wellness.
                </p>
            </div>

            <p>
                We understand the importance of proactive eye health management, and that's why we've developed a state-of-the-art solution that puts the power of vision insights in your hands. Whether you're concerned about common eye conditions or simply want to monitor your eye health, our AI model is here to assist you.
            </p>

            <p>
                Our model is trained to detect a range of eye conditions, from cataracts to glaucoma, providing early indications that can help you take timely action. However, it's important to note that our AI analysis is not a substitute for professional medical advice. We encourage you to consult with eye specialists for comprehensive examinations.
            </p>

            <p>
                Join the thousands of individuals and healthcare agencies who trust our AI analysis tool for accurate results and valuable insights. With a reputation built on innovation and excellence, we're here to support you on your journey to healthier vision.
            </p>
        </div>
    </div>
</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

<!--TEAM-->
<div class="rts-team-area rts-section-gapBottom pt-5" style="background-color:#0e1424">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-conter-area">
                        <span class="pre-title-bg">Team</span>
                        <h2 class="title">
                             Our Honour Team
                        </h2>
                    </div>
                </div>
            </div>
           <div class="row g-5 mt--10 align-items-center justify-content-center">
                 <div class="col-lg-3 col-md-6 col-sm-6 col-12 ">
                     <img src="{% static 'images/team/haseeb2.jpg' %}" width="200" height="300">
                     <div class="inner-content">
                                <h5 class="title mt-3">Haseeb</h5>
                            <span>Front-End</span>
                        </div>
                 </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 ">
                     <img src="{% static 'images/team/team22.jpg' %}" width="200" height="300">
                    <div class="inner-content">
                                <h5 class="title mt-3">Tabish khan</h5>
                            <span>Back-End</span>
                        </div>
                 </div>
           </div>

        </div>
    </div>


{% endblock %}