{% extends 'website/base.html' %}

{% block title %}
LOGIN
{% endblock title %}

{% block css %}
<style>
    .errorlist{
      color:red;
    }
</style>
{% endblock css %}

{% block content %}

<section class="" style="margin-top:90px">
    <div class="container py-5 h-50">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border:2px solid green;">
                    <div class="card-body p-5 text-center">

                        <form method='POST'>
                            {% csrf_token %}
                            <h3 class="mb-5">Login</h3>
                            <div class="form-outline mb-4">
                                {{form.as_p}}
                                <button class="btn btn-success btn-lg btn-block" type="submit">Login</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock content %}