{% extends 'website/base.html' %}

{% load static %}

<!--PAGE TITLE----------------------------------------------------------------->
{% block title %} HOME {% endblock title %}


{% block css %}
<style>
    .selected {
      border: 10px solid blue;
      opacity: 1;
    }
</style>
{% endblock css %}


<!--MAIN CONTENT--------------------------------------------------------------->
{% block content %}


<!--HOME BANNER AREA-->
<div class="rts-banner-area-one bg_image--1 bg_image rts-section-gap mb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-main-wrapper">
                    {% if user.is_authenticated %}
                    <h1 class="title">
                         <span class="txt-rotate" data-period="1000"
                              data-rotate="[ &quot;Welcome&quot;,&quot;{{user.username}}&quot;]"><span
                                class="wrap">Glucoma-Detection</span></span>
                        <br>
                        Seeing Beyond Sight <br> AI for Eye Health <br>

                    </h1>
                    {% else %}
                     <h1 class="title">
                        Seeing Beyond Sight <br> AI for Eye Health <br>
                        <span class="txt-rotate" data-period="1000"
                              data-rotate="[ &quot;Artificial Inteligence&quot;,&quot;AI&quot;]"><span
                                class="wrap">Glucoma-Detection</span></span>
                    </h1>
                    {% endif %}
                    <p class="disc " style="margin-top:80px">
                        For Glucoma-Detection, we're passionate about your vision. Our AI-driven platform empowers you
                        to
                        take control of your eye health. Upload your eye images, and let our technology provide you with
                        accurate and actionable results, all from the comfort of your home
                    </p>
                    <div class="border-top border-grey"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--RTS TOOLS AREA-->
<div class="rts-tools-area  bg-tools">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-conter-area">
                    <h2 class="title mt-4">
                        AI-Powered Eye Analysis <br>Revolutionizing Eye Health
                    </h2>
                    <p class="disc">
                        Unlock insights into your vision health effortlessly with our AI-powered eye analysis tool
                    </p>
                </div>
            </div>
        </div>

        <div class="row mt--25 g-5">
            <form action="{% url 'image-detection' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-lg-3 col-md-3 mx-auto mt-4 col-sm-8 col-8 text-center">
                    <input name="image" id="image" type="file" accept="image/*">
                </div>
                <div class="col-lg-6 col-md-6 mx-auto mt-4 col-sm-12 col-12 text-center">
                    <button id="upload-button" class="btn btn-outline-primary" type="submit">
                        Upload Image
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--USER TEST RECORDS-->
<div class="rts-tools-area  bg-tools">
    {% if user.is_authenticated %}
    {% if records %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mt-5">
                <div class="title-conter-area">
                    <h2 class="title mt-4 text-success">
                        Your Test Records
                    </h2>
                </div>
            </div>
            <div class="col-lg-2 mx-auto">
                <form action="{% url 'records-delete' %}" method="POST">
                    {% csrf_token %}
                    <button id="clear-button" class="btn btn-outline-danger" type="submit">
                        Clear Records
                    </button>

                </form>
            </div>
        </div>
        <div class="row mt--25 g-5">
            {% for report in records%}
            <div class="col-lg-2 col-md-2 ml-5 col-sm-8 col-12">
                <img src="{{report.image.url}}" alt="..." class="img-thumbnail">
                <div class="mt-5">
                    <h6>Result : {{report.result}}</h6>
                    <h6>Value : {{report.value}}</h6>
                    {% if report.description is not None %}
                    <p>FeedBack:
                        {{report.description}}
                    </p>
                    {% else %}
                    <p class="text-danger">No Response from Doctor</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="row">
            <div class="col-lg-12 mt-5">
                <div class="title-conter-area">
                    <h2 class="title mt-5 text-danger">
                        You Dont have Test Records
                    </h2>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>


<!--RTS FAQ AREA-->
<div class="rts-faq-area rts-section-gap " style="background-color:#0e1424">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-conter-area">
                    <h2 class="title">
                        Questions About our GLucoma-Detect? <br>
                        We have Answers!
                    </h2>
                </div>
            </div>
        </div>
        <div class="row mt--60">
            <div class="col-lg-12">
                <div class="accordion-area-one">
                    <div class="accordion" id="accordionExample">

                        <div class="accordion-item" style="background-color:rgba(217, 217, 217, 0.06);">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" style="color:rgb(178, 203, 39);" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What is the purpose of this AI-powered eye analysis model?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Our AI-powered eye analysis model is designed to assist users in assessing and
                                    monitoring their eye health. It can help detect common eye conditions and provide
                                    valuable insights into one's vision.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item" style="background-color:rgba(217, 217, 217, 0.06);">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" style="color:rgb(187, 255, 0);" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How do I use the AI model to analyze my eye pictures?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Using our AI model is simple. Just upload your eye pictures to the website, and the
                                    model will analyze them automatically. You'll receive results that can include
                                    information about the condition of your eyes and any potential issues.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item" style="background-color:rgba(217, 217, 217, 0.06);">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" style="color:rgb(195, 255, 0);" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Is my data and personal information secure when using this service?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Yes, we take data privacy seriously. Your uploaded images and personal information
                                    are handled with the utmost care and confidentiality. We adhere to strict security
                                    measures and comply with data protection regulations to ensure your data remains
                                    secure.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item" style="background-color:rgba(217, 217, 217, 0.06);">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" style="color:rgb(238, 255, 0);" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                    What types of eye conditions can the AI model detect?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Our AI model is trained to detect a range of common eye conditions, including but
                                    not limited to cataracts, glaucoma, diabetic retinopathy, and macular degeneration.
                                    It can provide early indications of these conditions to help you take proactive
                                    measures for your eye health.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item" style="background-color:rgba(217, 217, 217, 0.06);">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" style="color:rgb(234, 255, 0);" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                    Is this AI eye analysis a substitute for visiting an eye specialist or optometrist?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    No, our AI-powered eye analysis is not a replacement for professional medical
                                    advice. While it can provide valuable insights, it is essential to consult with an
                                    eye specialist or healthcare professional for a comprehensive eye examination and
                                    personalized guidance regarding your eye health.
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}