{% extends 'website/base.html' %} 

{% block title %}
TEST
{% endblock title %}

{#Content--------------------------------------------------------------------#}
{% block content %}

{#Image View-----------------------------------------------------------------#}

{% if image_predictions %}

<div class="row justify-content-center">
  {% for data in image_predictions %}
  <div class="col-lg-3 text-center mt-5"> <!-- Use col-lg-3 to create four columns in a row -->
    <div class="card" style="border: 2px solid green;">
      <div class="card-header" style="border-bottom: 2px solid green;">Glaucoma Detected Image</div>
      <div class="card-body">
        <img src="{{ MEDIA_URL }}{{ data.image_path }}" height="200px" alt="" />
        <p>Predicted Class is {{ data.predicted_class }}</p>
        <p>Probability is {{ data.probability }}</p>
      </div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:4 %} <!-- Add a line break after every 4 items -->
  <div class="w-100"></div>
  {% endif %}
  {% endfor %}
</div>
{% else %}
<div class="row justify-content-center">

  <div class="col-lg-6 text-center mt-5">
    <div class="card" style="border:2px solid green">
      <div class="card-header" style="border-bottom:2px solid green">No Images Detected Yet</div>

    </div>
  </div>
</div>

{% endif %}

{#Forward Doctor Btn---------------------------------------------------------#}
<div class="row text-center mb-5" style="margin-top: 20px">
    <div class="col-lg-8 mx-auto text-center">
        <form action="{% url 'home' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Forward to Doctor</button>
        </form>
    </div>
</div>


{% endblock content %}
