{% extends 'website/base.html' %} 
{% load static %}


<!--Title ------------------------------------------------------------------->
{% block title %}
TEST
{% endblock title %}

<!--Main Content------------------------------------------------------------->
{% block content %}

<!--Banner-->
<div class="rts-bread-crumb-area bg_image">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inne">
                        <div class="title-area">
                            <h1 class="bread-title">Image Testing</h1>
                            <div class="inner-wrapper">
                                <a href="{% url 'home' %}">Home</a>/
                                <a href="#" class="active">Image-Testing</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    Model Result-->

<div class="rts-tools-area  bg-tools pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-conter-area">
                        <h2 class="title mt-4">
                            Your Results
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row  g-5 justify-content-center">
                <div class="col-lg-2 col-md-2 ml-5 col-sm-8 col-12">
                    <!-- Select Pic Area -->
                      <img src="{{image.image.url}}" alt="..." class="img-thumbnail">
                    <!-- Select Pic Area -->
                </div>
                <div class="col-lg-2 col-md-2 ml-5 col-sm-8 col-12 ">
                    <!-- Select Pic Area -->
                    <div class="mt-5">
                        <h6>Result : {{result}}</h6>
                        <h6>Value  : {{value}}</h6>
                    </div>
                    <!-- Select Pic Area -->
            </div>
                    <form action="." method="POST">
                        {% csrf_token %}
                        <div class="row text-center" style="margin-bottom: 50px">
                            <div class="col-lg-2 mx-auto text-center">
                                <button id="upload-button" class="btn btn-outline-primary" type="submit">Forward to Doctor</button>
                            </div>
                        </div>
                    </form>
        </div>
    </div>
{% endblock content %}
