absl-py
asgiref
astunparse
cachetools
certifi
charset-normalizer
contourpy
cycler
Django
djangorestframework
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
joblib
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
numpy
oauthlib
opt-einsum
packaging
Pillow
pip
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
requests
requests-oauthlib
rsa
scikit-learn
scipy
setuptools
six
sklearn
sqlparse
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
typing_extensions
tzdata
urllib3
Werkzeug
wheel
wrapt

