{% load static %}
 <div class="border-top border-grey"></div>
<div class="rts-footer-area  bg-footer footer-one">
        <div class="container rts-section-gapTop pb--100 pb_sm--30">
            <div class="row text-center">
                <div class="col-lg-12">
                    <!-- footer main wrapper -->
                    <div class="footer-one-main-wrapper">
                        <!-- single sized  footer  -->
                        <div class="footer-singl-wized left-logo ml-5">
                            <div class="head">
                                <a href="#">
                                    <img src="{% static 'images/logo/01.svg' %}" alt="logo">
                                </a>
                            </div>
                            <div class="body">
                                <p class="dsic">
                                    Openup is an artificial intelligence trained to automate important tasks such writing optimized product descriptions.
                                </p>

                            </div>
                        </div>
                        <!-- single sized  footer end -->
                        <!-- single sized  footer  -->
                        <div class="footer-singl-wized mr-5">
                            <div class="head">
                                <h6 class="title">Company</h6>
                            </div>
                            <div class="body">
                                <ul class="menu">
                                    <li><a href="{% url 'about' %}">About Us</a></li>
                                    {% if user.is_authenticated %}
                                    {% if user.is_user %}
                                      <li><a href="{% url 'home' %}">Login</a></li>
                                    {% elif user.is_doctor %}
                                      <li><a href="{% url 'doctor' %}">Login</a></li>
                                    {% endif %}
                                  {% else %}
                                    <li><a href="{% url 'user-login' %}">Login</a></li>
                                  {% endif %}

                                </ul>
                            </div>
                        </div>
                        <!-- single sized  footer end -->
                    </div>
                    <!-- footer main wrapper end -->
                </div>
            </div>
        </div>
    </div>