{% extends 'doctor/base.html' %}

{% load static %}

<!--------------------------------------------------TITLE-------------------------------------------------------------->
{% block title %}
DASHBOARD-HOME
{% endblock %}


{% block content %}
<div class="dashboard-content-wrap">
    <div class="">
        <div class="container-fluid">

            <h2 class="sec__title font-size-30 ">Welcome!</h2>
            <h2 class="sec__title font-size-30 text-primary">Dr. {{user.username|capfirst}}</h2>

            <div class="row mt-4">
                {% if responses %}
                <ul class="list-group w-100 ">
                    {% for report in responses %}
                    <li class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3 text-center">
                                <a href="{{ report.image.url }}" target="_blank">
                                    <img width="50px" height="40px" src="{{ report.image.url }}">
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <h6>Value: {{ report.value }}</h6>
                                <h6>Result: {{ report.result }}</h6>
                            </div>
                            <div class="col-lg-3 text-center">
                                <button class="btn btn-primary" data-toggle="modal"
                                        data-target="#descriptionModal{{ report.id }}">
                                    Add Feedback
                                </button>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="descriptionModal{{ report.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="descriptionModalLabel{{ report.id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="descriptionModalLabel{{ report.id }}">Add
                                            Feedback</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="." method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="ai_response_id" value="{{ report.id }}">
                                            <label for="descriptionInput">Feedback:</label>
                                            <textarea id="descriptionInput" name="description"
                                                      class="form-control" required></textarea>
                                            <button type="submit" class="btn btn-primary mt-3">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <h4 class="alert alert-danger text-center w-100">NO REPORTS</h4>
                {% endif %}


            </div>
        </div>
    </div>

</div>

{% endblock %}