{% extends 'doctor/base.html' %}
{% load static %}

<!--------------------------------------------------TITLE-------------------------------------------------------------->
{% block title %}
DASHBOARD-HOME
{% endblock %}

{% block content %}
<div class="dashboard-content-wrap">
    <div class="">
        <div class="container-fluid">
            <h2 class="font-size-30 text-primary text-center ">YOUR FEEDBACKS!</h2>
            <div class="row mt-4">
                {% if data %}
                <ul class="list-group w-100">
                    {% for report in data %}
                    <li class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3 text-center">
                                <a href="{{ report.image.url }}" target="_blank">
                                    <img width="50px" height="40px" src="{{ report.image.url }}">
                                </a>
                            </div>
                            <div class="col-lg-3">
                                <h6>Value: {{ report.value }}</h6>
                                <h6>Result: {{ report.result }}</h6>
                            </div>
                            <div class="col-lg-3">
                                <h6>Feedback: {{ report.description|truncatechars:20}}</h6>
                            </div>
                            <div class="col-lg-3 text-center">
                                <button class="btn btn-warning" data-toggle="modal"
                                        data-target="#feedbackModal{{ report.id }}">
                                    EDIT
                                </button>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="feedbackModal{{ report.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="feedbackModalLabel{{ report.id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="feedbackModalLabel{{ report.id }}">Add
                                            Feedback</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="." method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="ai_response_id"
                                                   value="{{ report.id }}">
                                            <label for="feedbackInput">Feedback:</label>
                                            <textarea id="feedbackInput" name="description" class="form-control"
                                                      required>{{ report.description }}</textarea>

                                            <button type="submit" class="btn btn-primary mt-3">Update</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <h4 class="alert alert-danger text-center w-100">NO REPORTS</h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
