{% extends 'agency/base.html' %}

{% load static %}

<!--------------------------------------------------TITLE-------------------------------------------------------------->
{% block title %}
DASHBOARD
{% endblock %}


{% block content %}
<div class="dashboard-content-wrap">

    {#-------Setting background-------#}
    <div class="dashboard-bread dashboard--bread dashboard-bread-2">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="breadcrumb-content">
                        <div class="section-heading">
                            <h2 class="sec__title font-size-30 text-white">Settings</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="breadcrumb-list text-right">
                        <ul class="list-items">
                            <li><a href="{% url 'home' %}" class="text-white">Home</a></li>
                            <li>Dashboard</li>
                            <li>Settings</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#-------User Setting-------#}
    <div class="dashboard-main-content">
        <div class="container-fluid">
            <div class="border-top mt-4">
                {#----------DASH FOOTER---------#}
                {% include 'doctor/include/dashboard_footer.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}