{% load static %}

<div class="dashboard-nav dashboard--nav">
    {% include 'website/message.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="menu-wrapper">

                    {#-------logo-------#}
                    <div class="logo mr-5">
                        <a href="index.html"><img src=" {% static 'website/images/logo2.png' %}" alt="logo"></a>
                        <div class="menu-toggler">
                            <i class="la la-bars"></i>
                            <i class="la la-times"></i>
                        </div>
                        <div class="user-menu-open">
                            <i class="la la-user"></i>
                        </div>
                    </div>


                    {#-------Notification-------#}
                    <div class="nav-btn ml-auto">
                        <div class="notification-wrap d-flex align-items-center">

                            {#-------Notify-------#}
                            <div class="notification-item mr-2">
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle drop-reveal-toggle-icon"
                                       id="notificationDropdownMenu" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="la la-bell"></i>
                                        <span class="noti-count">4</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-reveal dropdown-menu-xl dropdown-menu-right">
                                        <div class="dropdown-header drop-reveal-header">
                                            <h6 class="title">You have <strong class="text-black">4</strong>
                                                notifications</h6>
                                        </div>
                                        <div class="list-group drop-reveal-list">

                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="msg-body d-flex align-items-center">
                                                    <div class="icon-element flex-shrink-0 mr-3 ml-0"><i
                                                            class="la la-bell"></i></div>
                                                    <div class="msg-content w-100">
                                                        <h3 class="title pb-1">Your request has been sent</h3>
                                                        <p class="msg-text">2 min ago</p>
                                                    </div>
                                                </div>
                                            </a>

                                        </div>
                                        <a href="#" class="dropdown-item drop-reveal-btn text-center">View all</a>
                                    </div>
                                </div>
                            </div>

                            {#-------Messages-------#}
                            <div class="notification-item mr-2">
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle drop-reveal-toggle-icon" id="messageDropdownMenu"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="la la-envelope"></i>
                                        <span class="noti-count">4</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-reveal dropdown-menu-xl dropdown-menu-right">
                                        <div class="dropdown-header drop-reveal-header">
                                            <h6 class="title">You have <strong class="text-black">4</strong> messages
                                            </h6>
                                        </div>
                                        <div class="list-group drop-reveal-list">
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="msg-body d-flex align-items-center">
                                                    <div class="avatar flex-shrink-0 mr-3">
                                                        <img src=" {% static 'website/images/team8.jpg' %}" alt="">
                                                    </div>
                                                    <div class="msg-content w-100">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <h3 class="title pb-1">Steve Wornder</h3>
                                                            <span class="msg-text">3 min ago</span>
                                                        </div>
                                                        <p class="msg-text">Ancillae delectus necessitatibus no eam</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <a href="#" class="dropdown-item drop-reveal-btn text-center">View all</a>
                                    </div>
                                </div>
                            </div>

                            {#-------User-Setting-------#}
                            <div class="notification-item">
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle" id="userDropdownMenu" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-sm flex-shrink-0 mr-2">
                                                {% if user.profile_image %}
                                                <img src="{{user.profile_image.url}}" alt="user">
                                                {% else %}
                                                <img src="{% static 'website/images/user_default.png' %}" alt="user">
                                                {% endif %}

                                            </div>
                                            <span class="font-size-14 font-weight-bold">{{user.username|capfirst}} Agency Admin</span>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-reveal dropdown-menu-md dropdown-menu-right"
                                         style="">
                                        <div class="dropdown-item drop-reveal-header user-reveal-header">
                                            <h6 class="title text-uppercase">Welcome!</h6>
                                        </div>
                                        <div class="list-group drop-reveal-list user-drop-reveal-list">
                                            <a href="{% url 'doctor:setting' %}"
                                               class="list-group-item list-group-item-action">
                                                <div class="msg-body">
                                                    <div class="msg-content">
                                                        <h3 class="title"><i class="la la-gear mr-2"></i>Settings</h3>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="section-block"></div>
                                            <a href="{% url 'user-logout' %}"
                                               class="list-group-item list-group-item-action">
                                                <div class="msg-body">
                                                    <div class="msg-content">
                                                        <h3 class="title"><i class="la la-power-off mr-2"></i>Logout
                                                        </h3>
                                                    </div>
                                                </div><!-- end msg-body -->
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>