{% load static %}

<div class="sidebar-nav sidebar--nav">
    <div class="sidebar-nav-body">
        <div class="side-menu-close">
            <i class="la la-times"></i>
        </div>

        <div class="author-content">
            <div class="d-flex align-items-center">
                <div class="author-img avatar-sm">
                    {% if user.profile_image %}
                    <img src="{{user.profile_image.url}}" alt="user">
                    {% else %}
                    <img src="{% static 'dashboard/images/user_default.png' %}" alt="user">
                    {% endif %}
                </div>
                <div class="author-bio">
                    <h4 class="author__title">{{user.username|capfirst}}</h4>
                </div>
            </div>
        </div>

        <div class="sidebar-menu-wrap">
            <ul class="sidebar-menu toggle-menu list-items">
                <li class="{% if request.path == '/doctor/dashboard/' %}page-active{% endif %}">
                    <a href="{% url 'doctor:dashboard' %}"><i class="la la-dashboard mr-2"></i>Dashboard</a></li>
                <li class="{% if request.path == '/doctor/setting/' %}page-active{% endif %}"><a
                        href="{% url 'doctor:setting' %}"><i class="la la-cog mr-2 text-color-10"></i>User Settings</a>
                </li>
                <li><a href="{% url 'user-logout' %}"><i class="la la-power-off mr-2 text-color-11"></i>Logout</a>
                </li>
            </ul>
        </div>

    </div>
</div>